include components/footer.pug
html
  head
    title Haystack
    link(rel='shortcut icon' href='/static/img/favicon.ico')
    link(rel='stylesheet' href='/static/css/style.css')
  body
    block header
    block content
    +footer
