include field.pug

mixin introFields
  introFields
    +field('hay hay-person', 'First Name', 'firstName', firstName, 'text')
    +field('hay hay-person', 'Last Name', 'lastName', lastName, 'text')
    +field('hay hay-clipboard', 'Company', 'companyName', name, 'text')
    +field('hay hay-clipboard', 'Position', 'companyPosition', position, 'text')
